[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aprslib = "*"
datetime = "*"
pykml = "*"
argparse = "*"
LatLon23 = "*"

[dev-packages]

[requires]
python_version = "3.6.6"
